.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: bold;
    margin-top: 10px;
}

.input {
    width: 300px;
    height: 25px;
}

.textarea {
    width: 350px;
    height: 100px;
}

.select {
    width: 55px;
    height: 35px;
}

.button {
    width: 65px;
}